game/sega_gameprogramma
game/code
game/unity/soundFiles
game/unity/LowpolyAsset
game/unity/コンテスト素材
# ビルド生成物
[Bb]in/
[Oo]bj/

# Visual Studio キャッシュ
.vs/

# ユーザー固有ファイル
*.user
*.rsuser
*.suo

# NuGet
packages/
*.nupkg

# ログ・一時ファイル
*.log
*.tlog
*.tmp
*.pdb
*.obj
*.cache

# --- Unity ---
[Ll]ibrary/
[Tt]emp/
Obj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# User-specific
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# IDE cache
.vs/

./LINEYahoo課題

./tex